################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Spell/SpellCore/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Spell/SpellCore/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Spell/SpellCore/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Spell/SpellCore/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Spell/SpellCore/obj/Debug
/Spell/Spell/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Spell/Spell/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Spell/Spell/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Spell/Spell/obj/Debug/Spell.csproj.FileListAbsolute.txt
/Spell/Spell/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Spell/Spell/obj/Debug
/Spell/Spell/bin/Debug/Spell.vshost.exe.manifest
/Spell/Spell/bin/Debug/Spell.vshost.exe.config
/Spell/Spell/bin/Debug/Spell.vshost.exe
/Spell/Spell/bin/Debug/Spell.exe.config
/Spell/Spell/bin/Debug
/Spell/CharapterCards/bin/Debug
/Spell/CharapterCards/obj/Debug
/Spell/Common/bin/Debug
/Spell/Common/obj/Debug
/Spell/FormulasStorage/bin/Debug
/Spell/FormulasStorage/obj/Debug
/Spell/SpellCore/bin/Debug
/Spell/SpellTest/bin/Debug
/Spell/SpellTest/obj/Debug
